@media screen and (max-width: 833px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cont{
	width: 360px;
	margin: 0 auto;
}
.header {
	width: 335px;
	margin: 0 auto;
	margin-top: 40px;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.nav_wraper {
	display: none;
}
.web-studia {
	display: block;
}
.title_header {
	font-size: 30px;
	margin-bottom: 6px;
	color: #202336;
	margin-top: 0px;
	font-weight: 700;
	font-family: Playfair Display;
}
.text_header {
	font-size: 18px;
	color: #202336;
	margin-bottom: 6px;
	font-weight: 600;
	font-family: inter;
}
.nav_text:hover {
	color: black;
	text-decoration: underline orange;
}
.button {
	width: 100px;
	height: 40px;
	border-radius: 8px;
	background: #F6A410;
	box-shadow: 0px 4px 4px 0px #00000040;
	border: none;
	margin-bottom: 10px;
}
.button_text {
	font-size: 20px;
	color: white;
	font-weight: 700;
	font-family: Playfair Display;
}
.burger_menu {
	width: 200px;
	position: relative;
	display: flex;
}
.menu_yes {
	width: 30px;
	height: 5px;
	background: grey;
	position: absolute;
	top: -50px;
	left: 130px;
}
.meni{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 70px;
}
.input{
	display: none;
}
.menu_yes::after, .menu_yes::before {
	content:"";
	width: 30px;
	height: 5px;
	background: grey;
	position: absolute;
}
.menu_yes::after {
	top: 8px;
}
.menu_yes::before {
	top: -8px;
}
.nav_text{
	color: gray;
	width: 180px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-family: inter;
	text-decoration: none;
	
}
.nav_text:hover{
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	color: black;
	border-bottom: 1px solid #F6A410;
}
li {
	width: 180px;
	display: none;	
}

input:checked~ul>li {
	display: block;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
}
input:checked~label>.menu_yes {
	background: transparent;
}
input:checked~label>.menu_yes:before {
	content:"";
	transform: rotate(45deg);
	top: 1px;
}
input:checked~label>.menu_yes:after {
	content:"";
	transform: rotate(-45deg);
	top: 1px;
}
label {
	left: 160px;
	top: 13px;
	position: relative;
}

.scrum_method{
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
}
.scrumban_method_cont{
  width: 340px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.scrumban_method_cont_text{
  width: 340px;
  height: 589px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 59px;
}
.scrumban_method_cont_h3{
  width: 278px;
  height: 79px;
  font-family: Playfair Display;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
}
.scrumban_method_cont_p{
  width: 340px;
  height: 500px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.mini_history_about_scrum{
  width: 340px;
  height: 511px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DBEEEA;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.mini_cont{
  width: 125px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.h6_mini{
  width: 125px;
  height: 25px;
  font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
}
.p_mini{
  width: 320px;
  height: 420px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}
.conzepzia_scrum{
  width: 282px;
  height: 1242px;
  margin: 0 auto;
  margin-top: 35px;
}
.conzepzia_scrum_h3{
  width: 258px;
  height: 80px;
  font-family: Playfair Display;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
}
.conzepzia_scrum_cont{
  width: 2800px;
  height: 1152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.roli{
  width: 280px;
  height: 365px;
  background: #daf1e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
}
.h6_roli{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.pidzagolovok{
  height: 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.detal{
  width: 152px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6A410;
  border-radius: 10px;
  margin-top: 20px;
}
.a_detal{
  color: #FFFFFF;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}
.idealogi{
  width: 280px;
  height: 365px;
  background: #FFE7675C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
  padding-left: 26px;
  padding-right: 16px;
}
.h6_idealogi{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.document{
  width: 280px;
  height: 365px;
  background: #DBEEEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
}
.h6_document{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.how_it_do{
  width: 340px;
  height: 1091px;
  margin-top: 40px;
}
.how_it_do_h4{
  width: 207px;
  height: 50px;
  font-family: Playfair Display;
  font-size: 26px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.how_it_do_half_p{
  width: 340px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.behind{
  margin-top: 20px;
  margin-bottom: 20px;
}

    .textyky{
        width: 340px;
    }
    .section1234{
        display: flex;
        flex-direction: column;
        margin-top: 400px;
    }
    .h1{
    	font-family: Playfair Display;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
    }
    .text{
    	font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}
.section3419 {
	display: block;
	width: 1160px;
	margin: 0 auto;
	height: 495px;
}
.block3460{
	margin-top: 40px;
}
.kapec{
	width: 340px;
}
.p3461 {
	font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
width: 340px;
margin-top: 20px;
}
.rew4517{
	width: 340px;
	margin-top: 110px;
}
.m3_gtr{
	font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
width: 340px;
}
.nba{
	font-family: Playfair Display;
font-size: 26px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
text-align: left;

}
.wrapper4519{
	width: 330px;
	font-family: Playfair Display;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

}
.footer{
	background:#DAF1E982;
	width: 360px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 700px;
}
.one{
	width: 350px;
    height: 134px;
	margin-left: 10px;
}
.logotwo{
    width: 82px;
	height: 79px;
	margin-top: 17px;
	margin-left: 140px;	
}
.footer_p_text_mini{
	color: #717171;
    font-family: Mulish;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}
.cont_block_2345{
	width: 340px;
	height: 415px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
}
.two{
	width: 138px;
	height: 171px;
}
.three{
	width: 172px;
	height: 218px;
}
.four{
	width: 153px;
	margin-top: -50px;
}
.five{
	width: 172px;
	height: 129px;
}
.footer_block_p_text{
	width: 156px;
	height: 171px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 17px;
}
.footer_block_p_text_mini{
	width: 138px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 17px;
}
.two_mini{
    width: 169px;
}
.footer_p_text{
	color: #717171;
    font-family: Mulish;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
}
.rect{
	width: 271px;
	border-radius: 3px;
	margin-top: 458px;
	margin-left: 40px;
}
.footer_block_h5{
	font-family: Playfair Display;
	font-size: 19px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}
.perexod{
	width: 200px;
	height: 20px;
	margin-top: 17px;
	margin-left: 72px;
	display: flex;
	justify-content: space-between;
}
.social{
	width: 22px;
	height: 20px;
}
}
