@media screen and (min-width: 1280px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cont{
	width: 1280px;
	margin: 0 auto;
}
.header {
  width: 1161px;
  margin: 0 auto;
  margin-top: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav_text {
  color: gray;
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: inter;
}
.web-studia {
  display: flex;
}
.title_header {
  font-size: 70px;
  margin-bottom: 40px;
  color: #202336;
  margin-top: 130px;
  font-weight: 700;
  font-family: Playfair Display;
}
.text_header {
  font-size: 24px;
  color: #202336;
  margin-bottom: 65px;
  font-weight: 600;
  font-family: inter;
}
.nav_text:hover {
  color: black;
  text-decoration: underline orange;
}
.button {
  width: 160px;
  height: 45px;
  border-radius: 8px;
  background: #F6A410;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
}
.button_text {
  font-size: 26px;
  color: white;
  font-weight: 700;
  font-family: Playfair Display;
}
.meni{
  display: none;
}
input{
  display: none;
}

.scrum_method{
  width: 1167px;
  margin: 0 auto;
}
.scrumban_method_cont{
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.scrumban_method_cont_text{
  width: 680px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scrumban_method_cont_h3{
  width: 680px;
  height: 50px;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.scrumban_method_cont_p{
  width: 680px;
  height: 275px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.mini_history_about_scrum{
  width: 1160px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #DBEEEA;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin-top: 25px;
}
.mini_cont{
  width: 125px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}
.h6_mini{
  width: 125px;
  height: 25px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}
.p_mini{
  width: 975px;
  height: 124px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.conzepzia_scrum{
  width: 1160px;
  margin: 0 auto;
  margin-top: 38px;
}
.conzepzia_scrum_h3{
  width: 1160px;
  height: 50px;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}
.conzepzia_scrum_cont{
  width: 1160px;
  height: 371px;
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}
.roli{
  width: 274px;
  height: 365px;
  background: #daf1e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
}
.h6_roli{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.pidzagolovok{
  height: 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.detal{
  width: 152px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6A410;
  border-radius: 10px;
  margin-top: 20px;
}
.a_detal{
  color: #FFFFFF;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}
.idealogi{
  width: 371px;
  height: 365px;
  background: #FFE7675C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
}
.h6_idealogi{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.document{
  width: 274px;
  height: 365px;
  background: #DBEEEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  border-radius: 10px;
}
.h6_document{
  margin-top: 30px;
  width: 270px;
  height: 20px;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.how_it_do{
  width: 1160px;
  height: 882px;
  margin-top: 40px;
}
.how_it_do_h4{
  width: 256px;
  height: 50px;
  font-family: Playfair Display;
  font-size: 26px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.how_it_do_half_p{
  width: 1158px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.behind{
  margin-top: 20px;
  margin-bottom: 20px;
}

.section1234{
    display: flex;
}
.korotka_history{
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #DBEEEA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 1160px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 22px;
    padding-left: 13px;
    /* height: 150px; */
    margin-top: 10px;
}
.kniga{
    margin-right: 10px;
    width: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.history{
    color: gray;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
padding: 0;

}
.text1188{
    color: gray;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
padding: 0;
width: 975px;
}
.h1{
  font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 25px;
}
.text{
  font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 18px;

}
.section1006{
    padding: 0;
    margin: 0 auto;
}
.nba{
    font-family: Playfair Display;
font-size: 26px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: left;

}
.m3_gtr{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
width: 1160px;
}
.doshka{
    display: none;
}

.section3419 {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  height: 495px;
  margin-top: 40px;
}
.wrapper4519 {
  font-size: 36px;
  font-weight: 700;
  font-style: Playfair Display;
}
.p3461 {
  font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
  margin-top: 25px;
}

.comparison_cont{
  margin-top: 40px;
  width: 1160px;
}
.comparison_h3{
  width: 1063px;
  height: 50px;
  font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 49px;
}
.comparison_board{
  width: 1066px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini_history_about_comparison{
  width: 1160px;
  height: 189px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 9px;
  border: 1px solid #DBEEEA;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin-top: 25px;
  margin: 0 auto;
}

.footer{
  background:#DAF1E982;
  width: 1280px;
  height: 430px;
  margin: 0 auto;
  display: flex;
}
.one{
  width:180px;
  height: 70px;
  margin-top: 68px;
  margin-left: 109px;
}
.footer_p_text_mini{
  color: #717171;
    font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.cont_block_2345{
  width: 892px;
  display: flex;
  justify-content: space-between;
}
.two{
  width: 208px;
  height: 215px;
  margin-top: 60px;
}
.three{
  width: 208px;
  height: 232px;
  margin-top: 60px;
}
.four{
  width: 208px;
  height: 238px;
  margin-top: 60px;
}
.five{
  width: 208px;
  height: 215px;
  margin-top: 60px;
}
.footer_block_p_text{
  width: 208px;
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;
}
.footer_block_p_text_mini{
  width: 208px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;
}
.footer_p_text{
  color: #717171;
    font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.rect{
  border-radius: 3px;
  margin-top: 175px;
  margin-left: 35px;
}
.footer_block_h5{
  font-family: Playfair Display;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.perexod{
  width: 250px;
  height: 20px;
  margin-left: 400px;
}
.social{
  margin: 10px;
}
}